body {
  font-family: 'Lato', arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
  color: #2e2e2e;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
}

::-webkit-selection {
  color: #ffffff;
  background: #2e2e2e;
}

::-moz-selection {
  color: #ffffff;
  background: #2e2e2e;
}

::selection {
  color: #ffffff;
  background: #2e2e2e;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.5;
  font-weight: 300;
}

p {
  margin-bottom: 30px;
  line-height: 1.7;
}

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:focus, a:active {
  color: #87b6c4;
  text-decoration: none;
  outline: none;
}
/* Banner */

@-moz-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#banner {
  background-attachment: scroll, scroll, scroll, fixed;
  background-color: #645862;
  /* background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../../images/banner.jpg"); */
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
  color: #fff;
  cursor: default;
  padding: 6em 0;
  text-align: center;
  
  background-color:#87b6c4;
}

  #banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.5);
    color: #fff;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
  }

    #banner .inner header {
      display: inline-block;
      border-bottom: solid 2px;
      border-top: solid 2px;
      margin: 0 0 2em 0;
      padding: 3px 0 3px 0;
    }

      #banner .inner header h2 {
        border-bottom: solid 2px;
        border-top: solid 2px;
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0;
        padding-left: 0.05em;
        position: relative;
        text-transform: uppercase;
      }

    #banner .inner p {
      letter-spacing: 0.1em;
      margin: 0;
      text-transform: uppercase;
    }

      #banner .inner p a {
        color: inherit;
        font-weight: 400;
        text-decoration: none;
      }

    #banner .inner footer {
      margin: 2em 0 0 0;
    }

/* #header nav {
  letter-spacing: 0.075em;
  position: absolute;
  right: 1.5em;
  text-transform: uppercase;
  top: 0.75em;
} */
/* @-moz-keyframes reveal-header {
  0% {
    top: -5em;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -5em;
  }

  100% {
    top: 0;
  }
}

@-ms-keyframes reveal-header {
  0% {
    top: -5em;
  }

  100% {
    top: 0;
  }
}

@keyframes reveal-header {
  0% {
    top: -5em;
  }

  100% {
    top: 0;
  }
} */

/* #header {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  color: inherit;
  cursor: default;
  font-size: 0.8em;
  left: 0;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

  #header h1 {
    font-weight: 900;
    margin: 0;
  }

    #header h1 span {
      font-weight: 300;
    }

  #header nav {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
    /* background-color: black; */
  /*}

    #header nav ul {
      list-style: none;
      padding-left: 0;
    }

      #header nav ul li {
        display: inline-block;
        margin-left: 1.5em;
        padding-left: 0;
      }

        #header nav ul li > ul {
          display: none;
        }

        #header nav ul li a {
          border: solid 1px transparent;
          color: inherit;
          display: inline-block;
          line-height: 1em;
          padding: 0.6em 0.75em;
          text-decoration: none;
        }

        #header nav ul li input[type="button"],
        #header nav ul li input[type="submit"],
        #header nav ul li input[type="reset"],
        #header nav ul li button,
        #header nav ul li .button {
          font-size: 1em;
          min-width: 0;
          width: auto;
        }

        #header nav ul li.submenu > a {
          text-decoration: none;
        }

          #header nav ul li.submenu > a:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
          }

          #header nav ul li.submenu > a:before {
            content: '\f107';
            margin-right: 0.65em;
          }

        #header nav ul li.active > a, #header nav ul li:hover > a {
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          background: rgba(188, 202, 206, 0.15);
        }

        #header nav ul li.current > a {
          font-weight: 900;
        }

  #header.reveal {
    -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
  }

  #header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background: transparent;
    box-shadow: none;
    color: #fff;
    padding: 2em 2.5em;
    position: absolute;
  }

    #header.alt nav {
      right: 2.5em;
      top: 1.75em;
    }

      #header.alt nav ul li.active > a, #header.alt nav ul li:hover > a {
        border: solid 1px;
      } */

      #header {
        background: rgba(39, 40, 51, 0.965);
        box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
        cursor: default;
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    
        #header h1 {
          height: inherit;
          left: 1.25em;
          line-height: inherit;
          margin: 0;
          position: absolute;
          top: 0;
        }
    
        #header nav {
          position: absolute;
          right: 1em;
          top: 0;
        }
    
          #header nav ul {
            margin: 0;
          }
    
            #header nav ul li {
              display: inline-block;
              margin-left: 1em;
            }
    
              #header nav ul li a, #header nav ul li span {
                border: 0;
                color: inherit;
                display: inline-block;
                height: inherit;
                line-height: inherit;
                outline: 0;
              }
    
                #header nav ul li a.button, #header nav ul li span.button {
                  height: 2em;
                  line-height: 2em;
                  padding: 0 1.25em;
                }
    
                #header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
                  margin-right: 0.5em;
                }
    
              #header nav ul li.active > a, #header nav ul li.active > span {
                color: #e44c65;
              }
    
              #header nav ul li > ul {
                display: none;
              }


#fh5co-header {
  /* background: #2e2e2e url(../images/hero_bg.jpg) no-repeat; */
  /* background-color: #7b7b7b; */
  background-size: cover;
  /* color: #ffffff; */
  color:#ebebeb;
  /* padding-top: 2em;
  position: absolute; */
  border-color: white;
  border-radius: 1%;
  justify-content: space-between;
  /* padding-bottom: 10%; */
  /* padding-left: 9%; */
  align-content: center;
  /* border-bottom: 1px solid #ddd; */
  position: absolute;
  background-color: white;
  transition: background-color 0.3s ease;
  z-index: 1000;
  justify-content: center;
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    /* padding-bottom: 3%; */
    background-attachment: scroll, scroll, scroll, fixed;
}

#fh5co-header.scrolled {
  background-color: #ebebeb;
  border-color: #ebebeb; /* Change to desired color */
}
#fh5co-header nav ul li.active > a, #header nav ul li:hover > a {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* background: rgba(188, 202, 206, 0.15); */
  background-color: #ebebeb;
}
/* .profile-border {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
} */

@media (max-width: 767px) {
  .row--30 {
    margin-bottom: 1rem;
  }

  .profile-border {
    width: 100%;
    height: 150px;
    padding-bottom: 150px;
  }

  .profile-image {
    position: unset;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.5rem;
  }

  .fh5co-header-intro {
    text-align: center;
    margin-top: 1rem;
  }

  .fh5co-header-intro h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .fh5co-header-intro .description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .fh5co-header-intro .learn-more1 {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .fh5co-header-intro .fa-download {
    margin-right: 0.5rem;
  }
}

#fh5co-work {
  /* margin-top: 3.9rem; */
  padding-top: 2%;
}
/* #fh5co-work .description {
  font-size: 1.1rem;
  margin-bottom: 1rem;
} */
/* #fh5co-work .half-inner {
  width: 100%;
  height: 200%;
  /* border-radius: 50%; */
  /* object-fit: cover; */
  /* margin-bottom: 20px; */
  /*overflow: hidden;
} */

@media screen and (max-width: 768px) {
  #fh5co-work {
    margin-top: 11em;
  }
}
#fh5co-work .work {
  width: 100%;
  float: left;
  margin-bottom: 5rem;
  margin-top: auto;
}
#fh5co-work .work .half-inner {

  /* margin-top: auto; */
  background-size: cover;
  /* background-position: center center; */
  position: relative;
  /* overflow: hidden; */
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 992px) {
  #fh5co-work .work .half-inner {
    width: auto;
    margin: 10%;
  }
}

#fh5co-work .work .half-inner:before {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 80%;
  height: 540px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
  z-index: -1;
  background: #fff;
  box-shadow: #ccc;

}
#fh5co-work .work .half-inner.half-inner2 {
  padding-top: auto;
  /* width: 90% !important; */
  height: 500px !important;
  overflow: hidden;
  display: flex;
  box-shadow: #ccc;
  align-items: center;
  
  
}
#fh5co-work .work .half-inner.half-inner2:before {
  left: -20px;
}
@media screen and (max-width: 992px) {
  #fh5co-work .work .half-inner.half-inner2 {
    /* width: 90% !important; */
    width: auto;
    /* margin: 0 auto; */
    margin: 10%;
  }
}
/* #fh5co-work .work .desc {
  width: 100%;
  /* margin: 0 auto; 
  /* margin-top: 7em; 
} */
#fh5co-work .work .desc h3 a {
  color: #000;
}

/*hamburger*/

.my-icon{
  color:#f66d52;
}



@media screen and (min-width: 0px) and (max-width: 992px) {
  .desc{
    text-align: center;
  }
  .temp{
    display: none;
  }
  .format{
    display: block;
    position: relative;
    width: 100%;
    
  }
  .format input{
    left: 5px;
    position: absolute;
    display: block;
    opacity: 0;
    cursor: pointer; 
    transform: scale(2);  
  }
  .check:checked ~ .hamburger-style{
    /* max-height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hamburger-style{
    display: none;
    background-color: inherit;
    text-align: center;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .hamburger-style > a{
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
.temp{
  display: flex;
  width: 100%;
    justify-content: space-between;
    align-items: center;
}
.format{
  display: none ;
}
}

.profile-border {
  background-image: url("outer-border.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  max-width: 800px; 
  padding: 50px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.profile-image >img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  overflow: hidden;
}

.nav.scrolled {
  background: #ebebeb;
  background-color: #ebebeb;
  border-color: #ebebeb;

}
/* .navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
} */

.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.navbar-toggler.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar-toggler.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar-collapse {
  display: none;
}

.navbar-collapse.active {
  display: block;
}

.navbar-collapse .inner {
  display: flex;
  flex-direction: column;
}

.navbar-collapse .inner a {
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for mobile */
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

#fh5co-header .category {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
#fh5co-header {
  position: fixed;
  /* background-color: #ebebeb; */
  /* display: block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .2em; */
}
#temp1{
  color: #ebebeb;
}

#fh5co-header #fh5co-header-logo {
  /* float: left; */
  z-index: 9999999;
  position: relative;
  padding: 2%;

}
#fh5co-header .fh5co-header-bars {
  color: #ffffff;
  float: right;
  font-size: 22px;
  margin-top: 4px;
  z-index: 9999999;
  position: absolute;
}
#fh5co-header .fh5co-header-bars span {
  font-size: 13px;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  text-transform: uppercase;
}
#fh5co-header .fh5co-header-intro {
  color: #fff;
  font-size: 60px;
  text-align: left;
  padding: 6em 0 6em 0;
  font-weight: 300;
  line-height: 1.5;
  /* padding-top: 20%; */
}
@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-header-intro {
    font-size: 30px;
  }
}

#fh5co-header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inner-page .fh5co-header-intro {
  padding: 1em 0 2em 0;
}
/* Image */


/* .image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
} */
/* .image-container {
  /* width: 300px;
  height: 200px; */
 /* position: relative;
  overflow: hidden;
  overflow-clip-margin: content-box;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  /* transition: opacity 0.5s ease; */
/*}

.image-container:hover img {
  opacity: 1;
} */

#fh5co-nav-slide {
  display: none;
  /* background: #000000; */
  /* color: #ffffff; */
  color: #000000;
}
#fh5co-nav-slide .fh5co-nav-inner {
  overflow-y: scroll;
  text-align: center;
  padding: 2em 0;
  position: relative;
}
#fh5co-nav-slide .fh5co-nav-inner ul {
  padding: 0;
  margin: 0;
}
#fh5co-nav-slide .fh5co-nav-inner ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-nav-slide .fh5co-nav-inner ul li a {
  /* color: #ccc; */
  color: black;
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #2e2e2e;
}
#fh5co-nav-slide .fh5co-nav-inner ul li a:hover {
  color: #ffffff;
}
#fh5co-nav-slide .fh5co-nav-inner ul li.active a {
  color: #87b6c4;
}


/* #nav {
  -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  background-color: #ffffff;
  color: #636363;
  position: absolute;
  /* width: 64em; */
  /* max-width: calc(100%);
  padding: 1em;
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align: center;
}

  #nav input, #nav select, #nav textarea {
    color: #636363;
  }

  #nav a:hover {
    color: #636363;
  }

  #nav strong, #nav b {
    color: #636363;
  }

  #nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
    color: #636363;
  }

  #nav blockquote {
    border-left-color: #dddddd;
  }

  #nav code {
    background: rgba(222, 222, 222, 0.25);
    border-color: #dddddd;
  }

  #nav hr {
    border-bottom-color: #dddddd;
  }

  #nav + #main {
    padding-top: 4.25em;
  }

  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

    #nav ul li {
      -moz-transition: margin 0.2s ease;
      -webkit-transition: margin 0.2s ease;
      -ms-transition: margin 0.2s ease;
      transition: margin 0.2s ease;
      display: inline-block;
      margin: 0 0.35em;
      padding: 0;
      vertical-align: middle;
    }

      #nav ul li a {
        -moz-transition: font-size 0.2s ease;
        -webkit-transition: font-size 0.2s ease;
        -ms-transition: font-size 0.2s ease;
        transition: font-size 0.2s ease;
        display: inline-block;
        height: 2.25em;
        line-height: 2.25em;
        padding: 0 1.25em;
        border: 0;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px transparent;
      }

        #nav ul li a:hover {
          background-color: rgba(222, 222, 222, 0.25);
        }

        #nav ul li a.active {
          background-color: #ffffff;
          box-shadow: none;
        }

  #nav.alt {
    position: fixed;
    top: 0;
    padding: 0.5em 1em;
    background-color: rgba(247, 247, 247, 0.95);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
  }

    #nav.alt ul li {
      margin: 0 0.175em;
    }

      #nav.alt ul li a {
        font-size: 0.9em;
      }

  @media screen and (max-width: 736px) {

    #nav {
      display: none;
    }

      #nav + #main {
        padding-top: 0;
      } 

  } */
/* .navbar {
  background-color: #fff;
  /* padding: 10px 0; */
 /* border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav .navbar-item {
  margin: 0 10px;
}

.navbar-nav .navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  padding: 5px 0;
}

.navbar-nav .navbar-item a:hover {
  color: #87b6c4;
}

.navbar-nav .navbar-item.active a {
  color: #87b6c4;
}

.navbar-nav .navbar-item.active a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #87b6c4;
  position: relative;
  top: 1px;
  margin-left: 5px;
} */

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  /* box-sizing: border-box; */
}
/* Image */

.image {
  border-radius: 8px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image img {
    border-radius: 24px;
    display: block;
  }

  .image.left, .image.right {
    max-width: 40%;
  }

    .image.left img, .image.right img {
      width: 100%;
      height: auto;
    }

  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }

    
    /* .image.left, .image.right {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
    height: 200px; /* Set a specific height for the image box */
    /* }
    
    .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
    height: 200px; /* Set a specific height for the image box 
    }*/
   

  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
  }

    .image.main img {
      width: 100%;
    }

#fh5co-nav-slide {
  display: none;
  background: #000000;
  color: #ffffff;
}
#fh5co-nav-slide .fh5co-nav-inner {
  overflow-y: scroll;
  text-align: center;
  padding: 2em 0;
  position: relative;
}
#fh5co-nav-slide .fh5co-nav-inner ul {
  padding: 0;
  margin: 0;
}
#fh5co-nav-slide .fh5co-nav-inner ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-nav-slide .fh5co-nav-inner ul li a {
  color: #ccc;
  display: block;
  /* float: left; */
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #2e2e2e;
}
#fh5co-nav-slide .fh5co-nav-inner ul li a:hover {
  color: #ffffff;
}
#fh5co-nav-slide .fh5co-nav-inner ul li.active a {
  color: #87b6c4;
}

#fh5co-main {
  padding: 5em 0;
}
@media screen and (max-width: 992px) {
  #fh5co-main {
    padding: 2em 0;
  }
}

#fh5co-sidebar,
#fh5co-content {
  margin-bottom: 1em;
}

#fh5co-sidebar .fh5co-side-box {
  margin-bottom: 1em;
  float: left;
  width: 100%;
  font-size: 18px;
}
#fh5co-sidebar .fh5co-side-box figure {
  margin-top: 10px;
  margin-bottom: .5em;
}
#fh5co-sidebar .fh5co-side-box .fh5co-side-title {
  font-weight: 400;
  margin-bottom: 20px;
}

.fh5co-sidebox-links ul {
  padding: 0;
  margin: 0;
}
.fh5co-sidebox-links ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.fh5co-sidebox-links ul li a {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: .5em 0;
}

.fh5co-main-service {
  margin-bottom: 2em;
  float: left;
  width: 100%;
}
.fh5co-main-service .fh5co-block-links {
  position: relative;
  display: block;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #2e2e2e;
  margin-top: 0;
}
.fh5co-main-service .fh5co-block-links .icon-circle {
  display: table;
  background: #87b6c4;
  width: 100px;
  height: 100px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fh5co-main-service .fh5co-block-links .icon-circle i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #ffffff;
}
.fh5co-main-service .fh5co-block-links h2 {
  font-size: 24px;
  font-weight: 300;
}
.fh5co-main-service .fh5co-block-links p {
  color: #7b7b7b;
}
.fh5co-main-service .fh5co-block-links .learn-more {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 13px;
  display: inline-block;
  background: #ebebeb;
  padding: 7px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.csstransitions .fh5co-main-service .fh5co-block-links:hover {
  margin-top: -30px;
}
.fh5co-main-service .fh5co-block-links:hover .icon-circle {
  background: #f66d52;
}
/* .fh5co-block-links:active .hover-img >a{
  background: black;
} */
.csstransitions .fh5co-main-service .fh5co-block-links:hover .icon-circle {
  width: 120px;
  height: 120px;
}
.fh5co-main-service .fh5co-block-links:hover .learn-more {
  background: #f66d52;
  color: #fff;
}


.fh5co-heading {
  margin-bottom: 3em;
}
.fh5co-heading .fh5co-heading-title {
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.7;
  font-weight: 700;
}
.fh5co-heading .fh5co-heading-title .border {
  display: block;
  height: 4px;
  width: 100px;
  /* background: #87b6c4; */
  background: rgba(0, 0, 0, 0.709);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}
.fh5co-heading .fh5co-heading-intro {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-heading .fh5co-heading-intro {
    font-size: 20px;
  }
}

.fh5co-projects-list {
  margin: 0;
  padding: 0;
}
.fh5co-projects-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 33.33333333%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .fh5co-projects-list li {
    width: 50%;
    /* text-align: center; */
  }
}
@media screen and (max-width: 768px) {
  .fh5co-projects-list li {
    width: 50%;
    
  }
}
@media screen and (max-width: 480px) {
  .fh5co-projects-list li {
    width: 100%;
    
  }
}
.fh5co-projects-list li img {
  max-width: 100%;
  float: left;
}

.fh5co-projects-wrap {
  float: left;
  width: 100%;
  position: relative;
  /* height: 50%; */
}
/* #img{
height: 50%;
} */

.effects .hover-img {
  position: relative;
  float: left;
  z-index: 89;
  padding: 5%;
  width: 100%;
  display: block;
	position: relative;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  /* height: 20%; */
}

.effects .hover-img .from-top, .effects .hover-img .fh5co-projects-action,
.effects .hover-img .fh5co-projects-overlay {
  opacity: 0;
  width: 100%;
}
.effects .hover-img figure {
  position: relative;
  overflow: hidden;
}
.effects .hover-img figure img {
  float: left;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.effects .hover-img .fh5co-projects-overlay {
  background: rgba(46, 46, 46, 0.8);
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  position: absolute;
  z-index: 99;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.effects .hover-img .fh5co-projects-overlay h3 {
  margin: 0;
  /* padding: 0; */
  padding: 5%;
  font-size: 20px;
  font-weight: 300;
}
.effects .hover-img .fh5co-projects-overlay .from-top {
  position: absolute;
  top: 35%;
  display: block;
  text-align: center;
  width: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10%;
}
.effects .hover-img .fh5co-projects-overlay .from-top .category {
  display: block;
  font-size: 13px;
  color: #ccc;
  letter-spacing: .1em;
  padding-top: 5px;
  
}
.effects .hover-img .fh5co-projects-overlay .fh5co-projects-action {
  position: absolute;
  bottom: 50%;
  text-align: center;
  /* text-align: bottom; */
  /* padding-top: 100%; */
  
  width: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
}
.effects .hover-img .fh5co-projects-overlay .goto-preview, .effects .hover-img .fh5co-projects-overlay .goto-details {
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  border-color: transparent;
  
  /* margin-bottom: -60%; */

  /* padding: 20px; */
  
}

.progress-bar {
  height: 20px;
  background-color: #ddd;
  position: relative;
}

.progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #007bff;
}

.effects .hover-img.hovered .fh5co-projects-overlay,
.effects .hover-img.hovered .from-top,
.effects .hover-img.hovered .fh5co-projects-action {
  opacity: 1;
  visibility: visible;
  
}
.effects .hover-img.hovered .from-top {
  margin-top: -50px;
  
}
.effects .hover-img.hovered .fh5co-projects-action {
  margin-bottom: -20%;
  /* margin-bottom: -1%;*/
  /* margin-top: 60%;  */

}

.effects .hover-img.hovered .from-bottom,
.effects .hover-img.hovered .fh5co-projects-action {
  padding-top: 80%;
  color: white;

}
.item{
  background-position: center;
}

.csstransforms .effects .hover-img.hovered img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  
}
.effects .hover-img.hovered img{
  padding: -10%;
}

/*Owl Theme Override*/
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
  
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 2em -6em;
	width: calc(100% + 6em); }
	.posts article {
	  -moz-flex-grow: 0;
	  -webkit-flex-grow: 0;
	  -ms-flex-grow: 0;
	  flex-grow: 0;
	  -moz-flex-shrink: 1;
	  -webkit-flex-shrink: 1;
	  -ms-flex-shrink: 1;
	  flex-shrink: 1;
	  margin: 0 0 6em 6em;
	  position: relative;
	  width: calc(33.33333% - 6em); }
	  .posts article:before {
		background: rgba(210, 215, 217, 0.75);
		content: '';
		display: block;
		height: calc(100% + 6em);
		left: -3em;
		position: absolute;
		top: 0;
		width: 1px; }
	  .posts article:after {
		background: rgba(210, 215, 217, 0.75);
		bottom: -3em;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		right: 0;
		width: calc(100% + 6em); }
	  .posts article > :last-child {
		margin-bottom: 0; }
	  .posts article .image {
		display: block;
		margin: 0 0 2em 0; }
		.posts article .image img {
		  display: block;
		  width: 100%; }
	@media screen and (min-width: 1681px) {
	  .posts article:nth-child(3n + 1):before {
		display: none; }
	  .posts article:nth-child(3n + 1):after {
		width: 100%; }
	  .posts article:nth-last-child(1), .posts article:nth-last-child(2), .posts article:nth-last-child(3) {
		margin-bottom: 0; }
		.posts article:nth-last-child(1):before, .posts article:nth-last-child(2):before, .posts article:nth-last-child(3):before {
		  height: 100%; }
		.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after, .posts article:nth-last-child(3):after {
		  display: none; } }
	@media screen and (max-width: 1680px) {
	  .posts article {
		width: calc(50% - 6em); }
		.posts article:nth-last-child(3) {
		  margin-bottom: 6em; } }
	@media screen and (min-width: 481px) and (max-width: 1680px) {
	  .posts article:nth-child(2n + 1):before {
		display: none; }
	  .posts article:nth-child(2n + 1):after {
		width: 100%; }
	  .posts article:nth-last-child(1), .posts article:nth-last-child(2) {
		margin-bottom: 0; }
		.posts article:nth-last-child(1):before, .posts article:nth-last-child(2):before {
		  height: 100%; }
		.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after {
		  display: none; } }
	@media screen and (max-width: 736px) {
	  .posts {
		margin: 0 0 2em -4.5em;
		width: calc(100% + 4.5em); }
		.posts article {
		  margin: 0 0 4.5em 4.5em;
		  width: calc(50% - 4.5em); }
		  .posts article:before {
			height: calc(100% + 4.5em);
			left: -2.25em; }
		  .posts article:after {
			bottom: -2.25em;
			width: calc(100% + 4.5em); }
		  .posts article:nth-last-child(3) {
			margin-bottom: 4.5em; } }
	@media screen and (max-width: 480px) {
	  .posts {
		margin: 0 0 2em 0;
		width: 100%; }
		.posts article {
		  margin: 0 0 4.5em 0;
		  width: 100%; }
		  .posts article:before {
			display: none; }
		  .posts article:after {
			width: 100%; }
		  .posts article:last-child {
			margin-bottom: 0; }
			.posts article:last-child:after {
			  display: none; } }

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
  /* margin-left: 0px; */
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
  /* right: 0px */
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -4em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: #87b6c4;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #f66d52;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #f66d52;
}

#fh5co-workwithus {
  clear: both;
  background: #2e2e2e url(../images/section_bg.jpg) no-repeat fixed;
  background-size: cover;
  color: #fff;
  margin-bottom: 4em;
  float: left;
  width: 100%;
}
#fh5co-workwithus .fh5co-workwithus-intro {
  text-align: center;
  padding: 5em 0;
}
#fh5co-workwithus .fh5co-workwithus-intro h2, #fh5co-workwithus .fh5co-workwithus-intro h3 {
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
}
#fh5co-workwithus .fh5co-workwithus-intro h2 {
  font-size: 40px;
}
#fh5co-workwithus .fh5co-workwithus-intro h3 {
  font-size: 20px;
  color: #ccc;
}
#fh5co-workwithus .fh5co-workwithus-intro .has-btn-after {
  margin-bottom: 2em;
}
.learn-more1{
  justify-content: center;
  padding-right: 7%;
  /* padding-left: -10%; */
}
/* Helper Classes */
.btn.btn-primary {
  background: #87b6c4;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 30px;
  font-weight: 300 !important;
  position: relative;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn.btn-primary.btn-effect i {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  margin-top: 2px;
  right: 7px;
}
.btn.btn-primary.btn-effect:hover {
  box-shadow: none;
  color: #fff;
  background: #f66d52;
}
.csstransitions .btn.btn-primary.btn-effect:hover {
  padding-right: 40px;
}
.csstransitions .btn.btn-primary.btn-effect:hover i {
  right: 7px;
  opacity: 1;
}
.btn.btn-primary:hover {
  box-shadow: none;
  color: #fff;
  background: #f66d52;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
}

.btn-uppercase {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.fh5co-image-text {
  margin-bottom: 3em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-image-text {
    padding: 0 20px;
  }
}
.fh5co-image-text .fh5co-block-links .dark-overlay {
  background: rgba(46, 46, 46, 0.8);
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-image-text .fh5co-block-links.hovered .dark-overlay {
  opacity: 1;
}
.fh5co-image-text .fh5co-block-links figure {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em;
  z-index: 100;
}
.fh5co-image-text .fh5co-block-links img {
  float: left;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fh5co-image-text .fh5co-block-links p {
  color: #7b7b7b;
}
.fh5co-image-text .fh5co-block-links h2 {
  margin: 0;
  color: #2e2e2e;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: .5em;
}
.fh5co-image-text .fh5co-block-links:active, .fh5co-image-text .fh5co-block-links:focus {
  outline: none;
}
.fh5co-image-text .fh5co-block-links .meta {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 16px;
  display: block;
}
.fh5co-image-text .fh5co-block-links .meta-after {
  margin-bottom: 0 !important;
}
.fh5co-image-text .fh5co-block-links .text-after {
  margin-bottom: 1em;
  display: block;
}
.fh5co-image-text .fh5co-block-links .learn-more {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 13px;
  display: inline-block;
  background: #ebebeb;
  padding: 7px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fh5co-image-text .fh5co-block-links:hover .learn-more {
  background: #f66d52;
  color: #fff;
}
.csstransforms .fh5co-image-text .fh5co-block-links:hover img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

#fh5co-journal {
  clear: both;
  margin-bottom: 5em;
}
#fh5co-testimonial1 {
  position: relative;
}
#fh5co-testimonial1 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  background: #2e2e2e;
  opacity: 0.7;
}
#fh5co-testimonial1 .fh5co-heading h2 {
  color: white;
}
#fh5co-testimonial1 .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonial1 .box-testimony a {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #d3d3d3;

}

.box1  {
  /* border-radius: 8px;
  border: solid; */
  margin-bottom: 2em;
  padding: 1.5em;
  border: solid #ebebeb;
  
  
}

  .box1 > :last-child,
  .box1 > :last-child > :last-child,
  .box1 > :last-child > :last-child > :last-child {
    margin-bottom: 0;
  }

  .box1.alt {
    /* border: 0; */
    /* border-radius: 0; */
    padding: 0;
  }

.box1 {
  /* border-color: rgba(255, 255, 255, 0.35); */
  /* border:15px #87b6c4; */
  /* border: solid; */
  border: solid #ebebeb;

  
}
.box1:hover {
  color: #f66d52;
}
@media screen and (max-width: 992px) {
  #align1 {
    width: 50%;
    /* align-items:center;*/
    position: relative; 
    margin: 0 auto;
    /* display: flex; */

  }
}
@media screen and (max-width: 768px) {
  #align1 {
    width: 50%;
    align-items:center;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  #align1 {
    width: 100%;
    align-items:center;
    position: relative;
  }
}

#fh5co-testimonial1 .box-testimony a:hover, #fh5co-testimonial1 .box-testimony a:focus, #fh5co-testimonial1 .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonial1 .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonial1 .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonial1 .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  /* background: #F36363; */
  background: #87b6c4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonial1 .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonial1 .box-testimony blockquote p {
  letter-spacing: 1px;
  font-family: "Playfair Display", Arial, serif;
}
#fh5co-testimonial1 .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonial1 .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

/* #fh5co-testimonial {
  padding: 3em 0 7em 0;
  margin: 0;
  background: #ebebeb;
  /* background: #ebebeb; */
  /* background-color: transparent; */
  /* border-bottom: 1px solid #ebebeb;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.3); */
  /* opacity: 0.9;
  
} */ 

#fh5co-testimonial {
  padding: 3em 0 7em 0;
  
  /* margin: -10; */
  /* width: 100%; */
  background: #ebebeb;
  
  
  /* border-bottom: 1px solid #ebebeb; */
  text-align: center;
  /* width: 100%; */
  /* width: initial; */
  /* width: 56px; */
  width: 100%;
  position: relative;
}
/* .temp{
  width: 100%;
} */

#fh5co-testimonial .fh5co-section {
  font-size: 30px;
  margin: 0 auto 1em auto;
  display: block;
  width: 100%;
}


#fh5co-testimonial .quote-icon {
  font-size: 30px;
  margin: 0 auto 1em auto;
  display: block;
}
#fh5co-testimonial .quote {
  width: 70%;
  margin: 0 auto;
  font-size: 26px;
}
#fh5co-testimonial .quote cite {
  margin-top: 20px;
  display: block;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #fh5co-testimonial .quote {
    font-size: 20px;
    width: 100%;
  }
}

#fh5co-footer {
  padding-bottom: 5em;
}

.fh5co-social-container {
  margin-bottom: 3em;
}

.fh5co-social {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  display: inline-block;
}
.fh5co-social li {
  padding: 0;
  margin: 10px;
  display: inline-block;
  list-style: none;
}
.fh5co-social li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .1em;
  color: #7b7b7b;
}
.fh5co-social li a i {
  font-size: 14px;
  color: #7b7b7b;
}
.fh5co-social li a:hover {
  color: #87b6c4;
}
.fh5co-social li a:hover i {
  color: #87b6c4;
}

#fh5co-subscribe {
  margin-bottom: 1em;
}
#fh5co-subscribe .fh5co-subscribe-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
#fh5co-subscribe form .form-group {
  position: relative;
}
#fh5co-subscribe form .form-group #subscribe-email {
  padding-right: 2.5em;
}
#fh5co-subscribe form .form-group .btn-subscribe {
  position: absolute;
  top: 5px;
  right: 20px;
  border: none;
  moz-border-radius: 50%;
  webkit-border-radius: 50%;
  border-radius: 50%;
  color: #ccc;
  width: 40px;
  height: 40px;
  background: #ebebeb;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#fh5co-subscribe form .form-group .btn-subscribe:hover {
  background: #f66d52;
  color: #fff;
}
#fh5co-subscribe form .form-group.focus #subscribe-email {
  border: 2px solid #87b6c4 !important;
}
#fh5co-subscribe form .form-group.focus .btn-subscribe {
  opacity: 1;
  background: #87b6c4;
  color: #fff;
  margin-right: -15px;
}
#fh5co-subscribe form .form-group.focus .btn-subscribe:hover {
  background: #f66d52;
  color: #fff;
}

.form-control {
  box-shadow: none;
  border: 2px solid #ccc;
  font-size: 20px;
  height: 50px;
  padding: 0 1em;
  width: 100%;
  moz-border-radius: 30px;
  webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.education-logo {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
	width: 7rem;
	/* float: left;
    width: 10%;
    height: auto;
    margin-bottom: 10px; */
	/* margin-right: 5px; */
   }
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 2px solid #87b6c4;
}

/*form*/
/* .form-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-container input[type="tel"] {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #3e8e41;
} */

#fh5co-footer-links {
  margin-bottom: 3em;
}
#fh5co-footer-links .footer-links {
  margin-bottom: 1em;
  float: left;
  width: 100%;
}
#fh5co-footer-links .footer-links ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer-links .footer-links ul li {
  display: block;
  padding: 0;
  margin: 0;
}
#fh5co-footer-links .footer-links ul li a {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
  color: #7b7b7b;
}
#fh5co-footer-links .footer-links ul li a:hover {
  color: #87b6c4;
}

#fh5co-copyright p {
  font-size: 16px;
  color: #7b7b7b;
}
#fh5co-copyright p small {
  font-size: 16px;
}

.back-to-top {
  text-align: center;
}
.back-to-top i {
  margin-left: -5px;
}
.back-to-top span {
  display: block;
  color: #ccc;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: center;
}

.fh5co-heading-uppercase {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 1.5;
  color: #7b7b7b;
}

.fh5co-visit {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-align: center;
  line-height: 1.5;
  color: #7b7b7b;
  display: block;
}
.fh5co-visit span {
  display: block;
  text-transform: none;
  letter-spacing: .1em;
  font-size: 16px;
}

.fh5co-pagination {
  width: 100%;
  border-radius: 0;
}
.fh5co-pagination .fh5co-pageination-prev {
  text-align: left;
}
.fh5co-pagination .fh5co-pageination-all {
  text-align: center;
}
.fh5co-pagination .fh5co-pageination-next {
  text-align: right;
}
.fh5co-pagination a {
  width: 33.33333333%;
  float: left;
  display: block;
  font-size: 20px;
  color: #000000;
}
.fh5co-pagination a i {
  text-align: center;
}
.fh5co-pagination a:hover {
  color: #87b6c4;
}

.fh5co-tile-image figure {
  width: 100%;
  float: left;
}
.fh5co-tile-image figure img {
  float: left;
  margin-bottom: 1.5em;
}

/* Helper Classes */
.pb-0 {
  padding-bottom: 0em !important;
}

.pb-sm {
  padding-bottom: 1em !important;
}

.pb-md {
  padding-bottom: 2em !important;
}
@media screen and (max-width: 768px) {
  .pb-md {
    padding-bottom: 1em !important;
  }
}

.pb-lg {
  padding-bottom: 3em !important;
}
@media screen and (max-width: 768px) {
  .pb-lg {
    padding-bottom: 1em !important;
  }
}

.mb-sm {
  margin-bottom: 1em !important;
}

.mb-md {
  margin-bottom: 2em !important;
}
@media screen and (max-width: 768px) {
  .mb-md {
    margin-bottom: 1em !important;
  }
}

.mb-lg {
  margin-bottom: 3em !important;
}
@media screen and (max-width: 768px) {
  .mb-lg {
    margin-bottom: 1em !important;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    display: block;
    clear: both;
    width: 100%;
    float: left;
  }
}


/*# sourceMappingURL=style.css.map */
